.price-chart h2 {
  margin: 0;
  font-size: 20px;
  color: #5e5e5e;
  font-weight: 400;
}

.price-chart header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-chart .chart {
  width: 100%;
  height: 400px;
}

.price-chart header select {
  font-weight: 400;
}
