.coin-item {
  text-align: center;
  border-left: 1px solid rgb(231, 231, 231);
  transition: all 0.2s;
  color: #3b3b3b;
}

.coin-item.col-6.col-sm-3 {
  padding: 0;
}

.coin-item:first-child  {
  border-radius: 10px 0 0 10px;
}
.coin-item:last-child {
  border-radius: 0 10px 10px 0;
}

.coin-item:hover, .coin-item.active {
  background: #ffffff;
}

.coin-item img {
  margin-right: 7px;
}

.coin-item div {
  width: 100%;
  padding: 15px 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}
