.coin-item {
  text-align: center;
  border-left: 1px solid rgb(231, 231, 231);
  transition: all 0.2s;
}

.coin-item.col-6.col-sm-3 {
  padding: 0;
}

.coin-item:first-child  {
  border-radius: 10px 0 0 10px;
}
.coin-item:last-child {
  border-radius: 0 10px 10px 0;
}

.coin-item:hover, .coin-item.active {
  background: #ffffff;
}

.coin-item img {
  margin-right: 7px;
}

.coin-item div {
  width: 100%;
  padding: 15px 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (max-width: 575px) {
  .coin-item:first-child, .coin-item:nth-child(3) {
    border-left: 0;
  }
  .coin-item:nth-child(3), .coin-item:last-child {
    border-top: 1px solid rgb(231, 231, 231);
  }

  .coin-item:first-child {
    border-radius: 10px 0 0 0;
  }

  .coin-item:nth-child(2) {
    border-radius: 0 10px 0 0;
  }

  .coin-item:nth-child(3) {
    border-radius: 0 0 0 10px;
  }

  .coin-item:last-child {
    border-radius: 0 0 10px 0;
  }
}
